* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --color1: #2b2b2b;
    --color2: #8d99ae;
    --color3: #edf2f4;
    --color4: #ef233c;
    --color5: #d90429;
    --background-color: #1b1b1b;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color)
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color5);
}

::-webkit-scrollbar-track {
    background: var(--color1);
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--color1);
}

nav img {
    margin-left: 1rem;
    object-fit: cover;
    height: 2.4rem;
    margin-right: auto;
}

nav span {
    padding: 0.7rem 2rem;
    color: var(--color3);
    font-size: 1.5rem;
    transition-duration: 0.2s;
}

nav span:hover{
    cursor: pointer;
    background-color: var(--color4);
    color: var(--color3);
}

.hamburger-menu-button {
    display: none;
}

div:not(.welcome-block) .paragraph-section {
    /* margin: 0 0 0 26%; */
}

.welcome-block .paragraph-section {
    cursor: pointer;
    transition-duration: 0.2s;
}

.welcome-block .paragraph-section:hover {
    background-image: linear-gradient(
        to bottom,
        #1b1b1b,
        #1b1b1b
    );
    color: #f57f7f;
    border: 2px solid #f57f7f;
}

.welcome-block > .paragraph-section {
    margin: 0 auto;
}

.welcome-block > .paragraph-section { 
    color: black;
    border-radius: 50px;
    padding: 1.5rem 3rem;
    background-image: linear-gradient(
        to bottom,
        #f57f7f,
        #ee6f6f
    );
}

.welcome-block img {
    position: absolute;
    height: 400px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,0%);
    opacity: 0;
    transition-duration: 0.5s;
}

.paragraph-section p {
    color: inherit;
    ---font-size: 1.8rem;
    font-size: var(---font-size);
    text-align: left
}

.paragraph-section a {
    --text-color-primary: var(--background-color);
    --text-color-secondary: var(--color3);

    text-decoration: none;
    border-radius: 0.5rem;
    font-size: var(--font-size);
    margin: 0;
    padding: 0 0.5rem;
    color: var(--text-color-secondary);
    background-color: var(--text-color-primary); 
    transition-duration: 0.2s;
}

.paragraph-section a:hover {
    background-color: var(--color4);
}


.paragraph-section > h1 {
    font-size: 2.5rem;
    color: inherit;
    margin: 0 0 3rem 0;
}

.block {
    display: flex;
    justify-content: left;
    height: 40vh;
    margin: 15rem 0;
    align-items: center;
}

.first-block {
    position: relative;
    isolation: isolate;
}

.first-block::after {
    content: '';
    background-image: linear-gradient(
        45deg,
        #12c2e9,
        #c471ed,
        #f64f59
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
    opacity: 1;
    transition-duration: 0.5s;
}

.first-block::before {
    content: '';
    background-image: linear-gradient(
        45deg,
        #c471ed,
        #f64f59,
        #12c2e9
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: 0;
    opacity: var(--opacity);
    transition-duration: 0.5s;
    display: var(--display);
}

.second-block {
    position: relative;
    isolation: isolate;
}

.second-block p {
    color: black;
}

.second-block::after {
    content: '';
    background-image: linear-gradient(
        45deg,
        #fdc830,
        #f37335
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.second-block::before {
    content: '';
    background-image: linear-gradient(
        45deg,
        #f37335,
        #fdc830
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: 0;
    opacity: var(--opacity);
    transition-duration: 0.5s;
    display: var(--display);
}

.third-block {
    position: relative;
    isolation: isolate;
}

.third-block::after {
    content: '';
    background-image: linear-gradient(
        45deg,
        #00ffc8,
        hsl(61, 98%, 41%)
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.third-block::before {
    content: '';
    background-image: linear-gradient(
        45deg,
        hsl(61, 98%, 41%),
        #00ffc8
        
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: 0;
    opacity: var(--opacity);
    transition-duration: 0.5s;
    display: var(--display);
}

@media (min-width: 480px) and (max-width:1024px) {
    .paragraph-section {
        margin: 0 2rem; 
    }

    .paragraph-section p {
        ---font-size: 1rem;
        font-size: var(---font-size);
    }
    
    .paragraph-section > h1 {
        font-size: 2rem;
    }
}

@media (max-width: 479px){
    .links {
        background-color: rgba(71, 71, 71, 0.355);
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 20%;
        transition-duration: 0.2s;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
    }

    .links[data-visible='true'] {
        transform: translateX(0%);
    }
    
    .links span:nth-child(1){
        padding-top: 4rem;
    }

    .links span {
        display: block;
        padding: 2rem 27%;
        margin: 0 auto;
    }

    .hamburger-menu-button {
        display: block;

        background-color: #d90429;
        color: white;
        z-index: 999;

        margin: 0 1rem;
        padding: 0.5rem 0.7rem;

        border: none;
        border-radius: 0.5rem;
    }

    nav img {
        margin-left: 1.2rem;
        object-fit: cover;
        height: 2.4rem;
        margin-right: auto;
    }

    .welcome-block > .paragraph-section > p {
        font-size: 1.2rem;
    }

    .first-block::before, .first-block::after, .second-block::before, .second-block::after, .third-block::after, .third-block::before {
        transform: skewY(-10deg);
    }
    .paragraph-section {
        margin: 0 2rem; 
    }

    .paragraph-section p {
        ---font-size: 1rem;
        font-size: var(---font-size);
    }
    
    .paragraph-section > h1 {
        font-size: 2rem;
    }    
}
