* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --color1: #2b2d42;
    --color2: #8d99ae;
    --color3: #edf2f4;
    --color4: #ef233c;
    --color5: #d90429;
}

body {
    --body-height: 4000px;
    height: var(--body-height);
}

::-webkit-scrollbar{
    display: none;
}

nav {
    height: 3rem;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color1);
}

nav span {
    padding: 0.3rem 2rem;
    height: 100%;
    color: var(--color3);
    font-size: 2rem;
}

nav span:hover{
    cursor: pointer;
    background-color: var(--color4);
    color: var(--color3);
}

.side-line {
    border-radius: 2rem;
    height: calc(var(--body-height) - 1500px);
    width: 0.5rem;
    position: absolute;
    top: 40%;
    left: 0.5rem;
    background-color: var(--color1);
}

.fill-side-line {
    border-radius: 2rem;
    height: calc(var(--body-height) - 2500px);
    width: 0.5rem;
    position: absolute;
    top: 40%;
    left: 0.5rem;
    background-color: var(--color4);
}

.paragraph-section p {
    ---font-size: 3rem;
    font-size: var(---font-size);
    text-align: center
}

.paragraph-section span {
    --text-color-primary: var(--color1);
    --text-color-secondary: var(--color3);

    border-radius: 0.5rem;
    font-size: var(--font-size);
    margin: 0 0 0 0.5rem;
    padding: 0 0.5rem;
    color: var(--text-color-secondary);
    background-color: var(--text-color-primary);
}

.paragraph-section a {
    --text-color-primary: #545786;
    --text-color-secondary: var(--color3);

    text-decoration: none;
    border-radius: 0.5rem;
    font-size: var(--font-size);
    margin: 0 0 0 0.5rem;
    padding: 0 0.5rem;
    color: var(--text-color-secondary);
    background-color: var(--text-color-primary); 
}

.block {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.welcome-block {
    background-color: green;
}

.first-block {
    background-color: #d90429;
}

.second-block {
    background-color: #8d99ae;
}

.third-block {
    background-color: #ef233c;
}